.vs/grasshopper_mirror/FileContentIndex/*.vsidx
.vs/grasshopper_mirror/copilot-chat/*
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/grasshopper_mirror/v17/.wsuo
.vs/grasshopper_mirror/v17/DocumentLayout.json
